#logo
{
    width: 100px;
    height: 100px;
    border-radius: 150px;
    border-color: black;
    border: 2px solid #000;
}
.web-detail {
    position: fixed;
 bottom: 0px;
 left: 0px;
   font-family: 'Mochiy Pop P One', cursive;
}

.link-for-web-detail {
   float: left;
   color: black;
   padding-top: 5px;
   padding-bottom: 6px;
   padding-left: 8px;
   padding-right: 7px;
   font-family: 'MonteCarlo', cursive;
   font-size: 20px;
   display: inline;
}

.link-for-web-detail:hover {
    background-color: gainsboro;
    text-decoration: underline;
    font-size: 25px;
}

body {
    text-align: center;
    background: url("d7b8b5240a7352831d047076665ccbeb.gif");
    background-repeat: no repeat;
}

#login_button {
width: 150px;
height: 100px;
border: 2px solid white;
color: white;
background-color: deeppink;
}

#login_button:hover {
    background-color: green;
    text-decoration: underline;
    font-size: 25px;
    width: 200px;
    height: 150px;
}
	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#number1
{
	width: 60%;
}
#number2
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#login_button{
	width: 30%;
}
